@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Condensed";
}

figure.header {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

img.header{
    display: block;
    max-width: 140%;
    height: auto;
    margin: -15% 0 -30% -40%;
}


nav.header {
    background-color: #003366;
    display: block;
    max-width: 200%;
}

article.main {
    margin-left: 10%; 
    margin-right: 10%;
}

h1{
    font-size: 3rem;
    font-weight: 700;
    max-width: 15em;
    padding-top: 3rem;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 2rem;
    max-width: 20em;
    color: #333;
    padding-bottom: 0.5em;
}

p {
    font-family: serif;
    font-size: 1.2rem;
    line-height: 140%;
    margin-bottom: 1em;
    max-width: 72ch;
}

ul.nav {
    padding: 1rem 10%; 
    list-style: none;
    display: block;
    max-width: 200%;
    overflow: hidden;
    clear: both;
}

li.navi {
    font-family: arial, sans-serif;
    font-size: 2.4rem;
    margin-right: 3rem;
    display: block;
    float: left;
}

a.nav {
    text-decoration: none;
    color: #f2f2f2;
}


article.main {
    margin-left: 10%; 
}

figure.header {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

img.header{
    display: block;
    max-width: 140%;
    height: auto;
    margin: -15% 0 -30% -40%;
}

@media only  screen and (min-width: 1000px)
{
    li.navi {
        font-family: arial, sans-serif;
        font-size: 1.2rem;
        margin-right: 3rem;
        display: block;
        float: left;
    }
}

